In [ ]:
# Derived data types - list, tuple, set, dictionary, range

In [23]:
# list - [], hetro, mutable, sequence

lst = [10, 56.3, 8+3j, 'python', 10, None, True]
print(lst, type(lst), id(lst), sep='\n')
print(lst[3])
print(lst[1:5])
lst[-1] = False
print(lst)

[10, 56.3, (8+3j), 'python', 10, None, True]
<class 'list'>
1857741818624
python
[56.3, (8+3j), 'python', 10]
[10, 56.3, (8+3j), 'python', 10, None, False]

In [12]:
# nested list
n_lst = [10, 20, 30, [101, 202, 303, 404], 'python', True, 26.5, 20.3]
print(n_lst[3])
print(n_lst[3][-1])
print(n_lst[3][1:3])

[101, 202, 303, 404]
404
[202, 303]

In [24]:
# tuple - (), hetro,immutable, sequence
tpl = (10, 56.3, 8+3j, 'python', 10, None, True)
print(tpl, type(tpl), id(tpl), sep='\n')
print(tpl[3])
print(tpl[1:5])

(10, 56.3, (8+3j), 'python', 10, None, True)
<class 'tuple'>
1857742071168
python
(56.3, (8+3j), 'python', 10)

In [22]:
# nested list and tuple
n_tlst = (10, 20, 30, ('python', 'class',  [101, 'BT', 'Tech', 404], 'ml', 'dl'))
print(n_tlst[-1])
print(n_tlst[-1][2])
print(n_tlst[-1][2][-1])
print(n_tlst[-1][2][1:3])
n_tlst[-1][2][1:3] = [102, 103]
print(n_tlst)

('python', 'class', [101, 'BT', 'Tech', 404], 'ml', 'dl')
[101, 'BT', 'Tech', 404]
404
['BT', 'Tech']
(10, 20, 30, ('python', 'class', [101, 102, 103, 404], 'ml', 'dl'))

In [26]:
# Set - {}, hetro, mutable, not a sequence, remove duplicates

st = {10, 56.3, 8+3j, 'python', 10, None, True}
print(st, type(st), id(st), sep='\n')

{True, (8+3j), 'python', 56.3, 10, 'This is python class', None}
<class 'set'>
1857742085248

In [33]:
# nested list, tuple, set
n_stlst = [10, 20, 30, ('python', 'class',  {101, 'BT', 'Tech', 404}, 'ml', 'dl')]
print(n_stlst)
print(n_stlst[-1])
print(n_stlst[-1][2])

[10, 20, 30, ('python', 'class', {'Tech', 404, 101, 'BT'}, 'ml', 'dl')]
('python', 'class', {'Tech', 404, 101, 'BT'}, 'ml', 'dl')
{'Tech', 404, 101, 'BT'}

In [38]:
# dictionary - {key: value}, not sequence
dt = {1:100, 2:200, 3:300, 4:400}
print(dt, type(dt), id(dt), sep='\n')
print(dt[1])

{1: 100, 2: 200, 3: 300, 4: 400}
<class 'dict'>
1857770080576
100

In [41]:
# Dict values - anythng can be passed as value
dt1 = {1:100, 2:'Python', 3:True, 4:(400, 500), 5:True}
print(dt1)

{1: 100, 2: 'Python', 3: True, 4: (400, 500), 5: True}

In [45]:
# Dict keys - should not be dupliacted, mutable dt cant be a key, immutable dt can be a key
dt2 = {1:100, 2:'Python', 3:True, 4:(400, 500), 1:True}
print(dt2)
# dt3 = {1:100, 2:'Python', 3:True, 4:(400, 500), [5, 6]:True}
# print(dt3)
dt4 = {1:100, 2:'Python', 3:True, 4:(400, 500), (5, 6):True}
print(dt4)

{1: True, 2: 'Python', 3: True, 4: (400, 500)}
{1: 100, 2: 'Python', 3: True, 4: (400, 500), (5, 6): True}

In [48]:
# Simple dict
emp_data = {'emp_id': 'E101', 
            'e_name': 'Suresh', 
            'Age': 25, 
            'Phno': 8939152272, 
            'mail': 'sarakrishna.k@gmail.com'}
print(emp_data)

{'emp_id': 'E101', 'e_name': 'Suresh', 'Age': 25, 'Phno': 8939152272, 'mail': 'sarakrishna.k@gmail.com'}

In [57]:
# Range - object data type - range(start, stop+1, step)

rng = list(range(6, 101, 6))
print(rng)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]