In [ ]:
# Arithematic operators
    # Addition --> +
    # Subtraction --> -
    # Multiplication --> *
    # Float Division --> /
    # Floor Division --> //
    # Modulo --> %
    # Exponent --> **

In [5]:
print(10+20)
print(20-3)
print(2*5)
print(2**3)

30
17
10
8

In [3]:
print(19/2)    # True division
print(19//2)   # floor division
print(19%2)    # Modulo

9.5
9
1

In [11]:
# Comparision operator (<, <=, >, >=)

print(10>20)
print(10>=10)
print(20<30)
print('python' < 'Python')

False
True
True
False

In [24]:
# Equality operator (==, !=)
a = 100
print(a == 10)
print(100 == a)
print(a != 20)
print(100 != 10)
print('python' == 'python')
print('python' != 'Python')
print('python#' == 'python#')

False
True
True
True
True
True
True

In [26]:
# Assignment operator (is, is not)
a = 10
b = 10

print(a is b)
print(a is not b)

True
False

In [39]:
# Input from user, output formating

a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = a+b
print(f'Addition of {a} and {b} is {c}')

Enter first number: 12
Enter second number: 8
Addition of 12 and 8 is 20

In [37]:
inp = input('Enter a input: ')
print(inp, type(inp))

Enter a input: python
python <class 'str'>

In [47]:
# Escape sequence

print('This is first line.\nThis is second line')
print('This is besant tech python class morning batch.\n\
There are 8 stuents in the class and five of them are present today')

This is first line.
This is second line
This is besant tech python class morning batch.
There are 8 stuents in the class and five of them are present today

In [49]:
# Raw string
print(r'This is first line. \nThis is not second line')

This is first line. \nThis is not second line

In [50]:
import pandas as pd

In [52]:
data = pd.read_csv(r'C:\Users\ksure\OneDrive\Desktop\Repositories\Bike_Sharing_Assignment\day.csv')
data.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600