### DATA TYPES

In [ ]:
# esc - m - 1-5 -ctrl+enter

In [ ]:
# Datatypes
    # 1. Fundamental - int, float, complex, boolean, string, None
    # 2. Derived

In [1]:
# Int
a = 10
print(a)
print(type(a))
print(id(a))

10
<class 'int'>
2096586451536

In [14]:
# object reusability (-5 to 256)
var1 = 5
var2 = 5

print(id(var1))
print(id(var2))

print(var1 is var2)

2096672970736
2096672971472
False

In [13]:
# float

flt = 12.0
print(flt)
print(type(flt))
print(id(flt))
# float doens't support object reusability

12.0
<class 'float'>
2096672971536

In [18]:
# complex - (real+imag)

cpx = 25+8j
print(cpx)
print(type(cpx))
print(id(cpx))
print(cpx.real)  # To extract real value
print(cpx.imag)  # To extract imaginary value

(25+8j)
<class 'complex'>
2096700381712
25.0
8.0

In [22]:
# boolean - True, False

bln = False
bln1 = False
print(bln)
print(type(bln))
print(id(bln))

print(bln is bln1)

False
<class 'bool'>
140734914615432
True

In [23]:
# String

strr = 'python class'
print(strr)
print(type(strr))
print(id(strr))

python class
<class 'str'>
2096701316208

In [28]:
a = 'Python'
b = 'python'

print(a is b)

False

In [35]:
print('This is python class')
print("This is krishna's class on python")
print('''This is krishna's class on "python"''')

This is python class
This is krishna's class on python
This is krishna's class on "python"

In [36]:
# None
a = None
print(a)
print(id(a))
print(type(a))

None
140734914665688
<class 'NoneType'>

In [40]:
# Typecasting

a = 10
b = float(a)
c = complex(a)
d = bool(a)

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

10 <class 'int'>
10.0 <class 'float'>
(10+0j) <class 'complex'>
True <class 'bool'>

In [45]:
flt = 12.9999
print(int(flt))
print(complex(flt))

12
(12.9999+0j)

In [52]:
print(bool('0'))
print(bool(0))
print(bool(0.0))
print(bool(0.000000000001))

True
False
False
True

In [54]:
print(int('python'))

ValueError: invalid literal for int() with base 10: 'python'